// Symbol font face
@font-face {
    font-family: "Segoe UI Command";
    src: local("Segoe MDL2 Assets");
    font-weight: normal;
    font-style: normal;
}

body {
  padding-top: 70px;
}

section {
  margin: 0 20px;
}

a:focus {
  outline: none;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.no-selection {
  margin: 20px;
}


