div.test2 {
    ul {
        list-style: none;
        li {
            list-style: none;
            background-color: #d1703c;
            color: #fff;
            line-height: 2em;
            margin: 0;
            padding: 0 0.5em;
            overflow: hidden;
            width: 10em;
            height: 2em;
            margin: 2px 0;
            height: 2em;
            transition: background-color .5s;
            cursor: default;
        }
    }
}

.animated-collection {
    overflow: hidden;
    padding: 1em;
    margin: -1em;
    animation-delay: 50ms;
    &.background-animation-add {
        animation: changeBack 2s;
    }
    &.background-animation-remove {
        animation: swipeRight 2s;
    }
    >li {
        &.au-enter {
            opacity: 0;
            height: 0;
        }
        &.au-enter-active {
            animation: show .2s;
        }
        &.au-leave-active {
            animation: hide .2s;
        }
        &:hover {
            background-color: red;
        }
    }
}

@keyframes hide {
    to {
        opacity: 0;
        height: 0;
    }
}

@keyframes show {
    to {
        opacity: 1;
        height: 2em;
    }
}

@keyframes changeBack {
    0% {
        background-color: green;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: yellow;
    }
}
